SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=
PAGBANK_TOKEN=
PAGBANK_API_URL=https://sandbox.api.pagseguro.com
PAGBANK_WEBHOOK_URL=
PREMIUM_PRICE_CENTS=1990
VITE_API_URL=
BASE_URL=http://localhost:3000
PORT=3000
NODE_ENV=development
